.section1_wrapper{
    display: flex;
    padding: 155px 0px;
    justify-content: space-between;
}

.section1_center{
    width: 100%;
}

.section1_caption{
    display: flex;
    font-size: 30px;
    padding-left: 120px;
    padding-top: 15px;
    font-family: Open Sans;
    letter-spacing: 2px;
    color: #CD6326;
}

.section1_name{
    position: absolute;
    margin: 20px 0 0 120px;
    width: 274px;
    font-family: Roboto;
    font-size: 18px;
    color: #F7F7F7;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.page_header__button{
    padding: 5px 19px;
    position: absolute;
    width: 120px;
    height: 50px;
    left: 1200px;
    top: 24px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 23px;
    font-family: Open Sans;
}
.section1_button{
    background-color: #CD6326;
    position: absolute;
    padding: 20px;
    width: 160px;
    height: 60px;
    left: 120px;
    top: 479px;
    border-radius: 5px;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}
