.section1_wrapper{
    display: flex;
    padding: 155px 0px;
    justify-content: space-between;
}

.section1_center{
    width: 100%;
}

.section1_caption{
    display: flex;
    font-size: 30px;
    padding-left: 120px;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #CD6326;
}

.section1_name{
    margin: 20px 0 0 120px;
    width: 274px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F7F7F7;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.page_header__button{
    width: 120px;
    height: 50px;
    padding: 20px 100px 0px 10px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Open Sans',sans-serif;
}
.section1_button{
    background-color: #CD6326;
    width: 160px;
    height: 60px;
    margin: 50px 120px;
    border-radius: 5px;
    color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
}
