@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_wrapper{
    min-height: 780px;
    background-image: url('./assets/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.page_header{
    display: flex;
    justify-content: space-between;
}

.page_header__logo{
    margin-top: 10px;
    color: #F7F7F7;
    width: 220px;
    height: 60px;
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.logo{
    background-image: url('./assets/svgg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 68px;
    height: 58px;
    margin: 2px 13px 0 0;
    display: flex;
}

.logo_text{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 27px;
}

.menu_header{
    list-style: none;
    margin: 25px 0 0 0;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.menu_header li, .menu_header a{
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    color: #F7F7F7;
    margin: 4px 37px 0 0;
    font-size: 23px;
}

.search{
    background-image: url('./assets/Vector.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.button{
    background: none;
    color: #F7F7F7;
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Roboto',sans-serif;
}

.menu_header a:hover{
    text-decoration: underline;
}

.button:hover{
    border: 8px solid aqua;
}

.search:hover{
    transform: scale(1.3);
}

.survival_section{
    width: 274px;
}

.survival{
    font-size: 48px;
    padding-top: 124px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #CD6326;
    margin-bottom: 60px;
}

.survival_text{
    width: 274px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.survival_button{
    background-color: #CD6326;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    color: #F7F7F7;
    font-family: 'Roboto',sans-serif;
    font-size: 23px;
    text-align: center;
    margin-top: 50px;
}

.survival_button:hover{
    background: #E39128;
}


.main_page{
    min-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #cccccc;
}

.latest_articles{  
    font-family: 'Open Sans',sans-serif;      
    color: #333;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    padding: 120px 0 23px 0;
}

.breaking_news{
    font-family: 'Open Sans',sans-serif;
    color: #666;
    font-size: 24px;
}

.main_page__gallery{
    position: relative;
    width: inherit;
    padding-top: 123px;
    padding-bottom: 240px;
}

.photos{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: #f7f7f7;
    margin: 0 auto ;
    width: 1020px;
}

.deer_photos{
    background: url('./assets/Rectangle\ \(1\).png');
    color: #f7f7f7;
    width: 300px;
    height: 360px;
    text-align: center;
}

.deer_name{
    font-size: 22px;
    margin: 250px 0 15px 0;
}

.deer_text{
    font-size: 17px;
}

.squirrel_photos{
    background: url('./assets/Rectangle\ \(2\).png');

    width: 300px;
    height: 360px;
    text-align: center;
}

.squirrel_name{
    font-size: 22px;
    margin: 250px 0 15px 0;
}

.squirrel_text{
    font-size: 17px;
}

.bird_photos{
    background: url('./assets/Rectangle\ \(3\).png');
    color: #f7f7f7;
    width: 300px;
    height: 360px;
    text-align: center;
}

.bird_name{
    font-size: 22px;
    margin: 250px 0 15px 0;
}

.bird_text{
    font-size: 17px;
}

.left_arrow{
    position: absolute;
    background: url("./assets/left.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 70px;
    left: 50px;
    top: 1000px;
}

.left_arrow:hover{
    cursor: pointer;
}

.right_arrow{
    position: absolute;
    background: url("./assets/right.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 70px;
}

.right_arrow:hover{
    cursor: pointer;
}

.main_page__input{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 27px;
    color: #333;
    background-color: #cccccc;
    padding-bottom: 240px;
    padding-top: 1px;
}

.input_text{
    margin-bottom: 62px;
}

.input_email{
    padding-left: 10px;
    height: 63px;
    width: 544px;
    font-size: 24px;
    background-color: #ccc;
    border-radius: 3px;
}

.input_button {
    background-color:#CD6326;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    color:#F7F7F7;
    padding: 16px 32px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    font-size: 23px;
    margin: -10px 0 0 -9px;
}

.footer{
    width: 100%;
    background-image: url('./assets/footer.png');
    background-repeat: no-repeat;
    background-color: #181617;
    height: 359px;
    background-size: cover;
}

.page_footer{
    margin: 0 0 5px 0;
    text-align: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #f7f7f7;
    justify-content: space-between;
}

.logo_footer{
    margin: 150px 0 0 120px;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo2{
    background-image: url('./assets/svgg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 68px;
    height: 58px;
    display: flex;
}

.logo_text2{
    padding-top: 15px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 27px;
}

.menu_footer{
    padding: 161px 0 0 0;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
    list-style: none;
}

.menu_footer__item{
    margin-top: 1px;
    margin-left: 35px;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
}

.menu_footer__item a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    color: #F7F7F7;
    margin: 5px 37px 0 0;
    font-size: 23px;
}

.icons_footer{
    padding: 158px 98px 0 0;
    list-style: none;
    display: inline-block;
    display: flex;

}

.icon{
    margin-right: 26px;
}

.ico_facebook a{
    display: block;
    height: 40px;
    width: 40px;
}

.ico_inst a{
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
}

.ico_pinterest a{
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
}

.ico_telegram a{
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
}
