.ico_facebook{
    width: 40px;
    height: 40px;
    background-image: url('./facebook.png');
}

.ico_inst{
    width: 40px;
    height: 40px;
    background-image: url('./inst.png');
}

.ico_pinterest{
    width: 40px;
    height: 40px;
    background-image: url('./pinterest.png'); 
}

.ico_telegram{
    width: 40px;
    height: 40px;
    background-image: url('./telegram.png'); 
}